

<h1>Ejercicio 3  de TOOLBOOX</h1>


  <div class="row">
    <div class="col s12 m6">
      <div *ngFor="let productos of data" class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{productos.name}}</span>
          <p>{{productos.description}}</p>
        </div>
        <div class="card-action">
          {{productos.quantity}}
        </div>
      </div>
    </div>
  </div>

